body {
    margin: 15px;
}

.section{
    margin-top: 30px;
}
.card{
    padding: 10px;
    margin-top: 10px;
}
a {
    text-decoration: none;
    color: #1565c0;
}

a:hover {
    color: #217ee7;
}

#content {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) ;
    text-align: center;
    max-width: 520px;
    padding: 32px;
    line-height: 1.6em;
}

.avatar {
    border-radius: 50%;
    width: 150px;
}

.icons {
    list-style-type: none;
    font-size: xx-large;
    padding: 0;
    display: flex;
    justify-content: space-between;
    width: 80%;
    max-width: 320px;
    margin: 1em auto;
}

.icons li {
    display: inline;
    width: 42px;
}

.icons a {
    color: black;
}

.icons a:hover {
    color: #37718E;
}

.button-name {
    align-items: center;
    margin: 5px;
    appearance: none;
    background-color: #37718E;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.2) 0 2px 4px,rgba(45, 35, 66, 0.15) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
   }
   
   .button-name:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
   }
   
   .button-name:hover {
    box-shadow: rgba(228, 228, 228, 0.3) 0 4px 8px, rgba(0, 0, 0, 0.2) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
    background-color: #fff;
    color: #37718E;
   }
   
   .button-name:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
   }

   .home-button {
    appearance: button;
 background-color: #000;
 border: solid transparent;
 border-radius: 16px;
 border-width: 0 0 4px;
 box-sizing: border-box;
 color: #fff;

 cursor: pointer;
 display: inline-block;
 font-size: 15px;
 font-weight: 700;
 letter-spacing: .8px;
 line-height: 20px;
 margin: 0;
 outline: none;
 overflow: visible;
 padding: 13px 19px;
 text-align: center;
 text-transform: uppercase;
 touch-action: manipulation;
 transform: translateZ(0);
 transition: filter .2s;
 user-select: none;
 -webkit-user-select: none;
 vertical-align: middle;
 white-space: nowrap;
}

.home-button:after {
 background-clip: padding-box;
 background-color: #37718E;
 border: solid transparent;
 border-radius: 16px;
 border-width: 0 0 4px;
 bottom: -4px;
 content: "";
 left: 0;
 color: #fff;
 position: absolute;
 right: 0;
 top: 0;
 z-index: -1;
}

.home-button:main, .home-button:focus {
 user-select: auto;
}

.home-button:hover {
    background-color: black;
    filter: brightness(1.4);
    color: #fff;
}

/* .home-button:hover:not(:disabled) {
 filter: brightness(0.8);
 color: #fff;
} */

.home-button:disabled {
 cursor: auto;
}

.home-button:active:after {
 border-width: 0 0 0px;
}

.home-button:active {
 padding-bottom: 10px;
}




.project-card {
  position: relative;
  width: 11.875em;
  height: 16.5em;
  box-shadow: 0px 1px 13px rgba(0,0,0,0.1);
  cursor: pointer;
  transition: all 120ms;
  display: inline;
    margin: 5px;
  align-items: center;
  justify-content: center;
  background: #fff;
  padding: 0.5em;
  padding-bottom: 3.4em;

}

/* .project-card::after {
  content: "Add to Cart";
  padding-top: 1.25em;
  padding-left: 1.25em;
  position: absolute;
  left: 0;
  bottom: -60px;
  background: #00AC7C;
  color: #fff;
  height: 2.5em;
  width: 90%;
  transition: all 80ms;
  font-weight: 600;
  text-transform: uppercase;
  opacity: 0;
} */

.project-card .title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9em;
  position: absolute;
  left: 0.625em;
  bottom: 1.875em;
  font-weight: 400;
  color: #000;
}

.project-card .price {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 0.9em;
  position: absolute;
  left: 0.625em;
  bottom: 0.625em;
  color: #000;
}

.project-card:hover::after {
  bottom: 0;
  opacity: 1;
}

.project-card:active {
  transform: scale(0.98);
}

.project-card:active::after {
  content: "Added !";
  height: 3.125em;
}

.text {
  max-width: 55px;
}

.image {
  background: rgb(241, 241, 241);
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}





.bar-card {
  background-color: #e4e4e4;
  border-radius: 15px;
  box-shadow: 10px 10px 20px #c4c4c4,
              -10px -10px 20px #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 4px;
}

.button {
  background-color: #e4e4e4;
  border: none;
  border-radius: 10px;
  box-shadow: inset 5px 5px 5px #c4c4c4,
              inset -5px -5px 5px #ffffff;
  color: #333;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 13px;
  font-weight: bold;
  margin: 3px;
  padding: 10px;
  text-transform: uppercase;
}

.button:hover {
  box-shadow: none;
}

.bar-card .Explore {
  color: #3035cb;
}

.bar-card .Explore:hover {
  background-color: #3035cb;
  color: #e4e4e4;
}

.card .Explore svg {
  fill: #3035cb;
}

.bar-card .Explore:hover svg {
  fill: #e4e4e4;
}

.bar-card .Post {
  color: #333;
}

.bar-card .Post:hover {
  background-color: #333;
  color: #e4e4e4;
}

.bar-card .Post svg {
  fill: #333;
}

.bar-card .Post:hover svg {
  fill: #e4e4e4;
}

.bar-card .Chat {
  color: #b82323;
}

.bar-card .Chat:hover {
  background-color: #b82323;
  color: #e4e4e4;
}

.bar-card .Chat svg {
  fill: #b82323;
}

.bar-card .Chat:hover svg {
  fill: #e4e4e4;
}
