body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.container {
    display: flex;
}

.left-panel {
    width: 30%;
    height: 100vh;
    background-color: #37718E;
    position: fixed;
    overflow-y: scroll;
    padding: 20px;
    box-sizing: border-box;
}

.profile {
    text-align: center;
}

.profile img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.social-links {
    margin-top: 20px;
}

.social-links a {
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    color: white;
}

.scroll-buttons button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    background-color: #20516a;
    color: white;
    cursor: pointer;
}


.right-panel {
    float: right;
    width: 70%;
    padding: 20px;
    box-sizing: border-box;
}

.blank-space {
    height: 20%;
}

.card {
    box-sizing: border-box;
    width: 190px;
    height: 254px;
    background: rgba(217, 217, 217, 0.58);
    border: 1px solid white;
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(6px);
    border-radius: 17px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    font-weight: bolder;
    color: black;
  }
  
  .card:hover {
    border: 1px solid black;
    transform: scale(1.05);
  }
  
  .card:active {
    transform: scale(0.95) rotateZ(1.7deg);
  }
